@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

/* Reset básico para el navegador */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "IBM Plex Sans", Arial, sans-serif; /* Fuente predeterminada */
}

#background-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/* Estilo básico para el cuerpo de la página */
body {
  background: #030011;
  overflow-x: hidden;
  color: #f2f2f2; /* Color de texto */
}

/* Contenedor principal */
.container {
  width: 80%; /* Ancho del contenedor */
  margin: auto; /* Centrar el contenedor */
  overflow: hidden; /* Controlar el desbordamiento */
}

/* Estilo para los párrafos */
p {
  margin-bottom: 15px;
}

/* Estilos básicos para la lista */
ul {
  list-style: none; /* Eliminar viñetas */
  padding: 0;
}

/* Estilo básico para los elementos de la lista */
li {
  margin-bottom: 5px;
}

/* Estilo para enlaces */
a {
  color: #ffffff; /* Color de enlace predeterminado */
  text-decoration: none; /* Eliminar subrayado */
}

.l-flex-column {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.l-flex-column--gap-2 {
  gap: 3em;
}
.l-flex-column--gap-3 {
  gap: 3em;
}
.l-flex-column--gap-4 {
  gap: 3em;
}

.l-flex-row {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0;
}
.l-flex-row--right {
  justify-content: flex-end;
}
.l-flex-row--left {
  justify-content: flex-start;
}
.l-flex-row--g3 {
  gap: 3em;
}
.l-flex-row--services {
  height: 55vh;
}
.l-flex-row--vw60 {
  width: 80vw;
}
.l-flex-row--vw60 h1 {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

.l-vw-55 {
  width: 55vw;
}

.l-header {
  width: -moz-fit-content;
  width: fit-content;
}

.l-slider {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}

.l-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.l-nav {
  background-color: rgba(0, 0, 0, 0.2901960784);
  position: relative;
  width: 100%;
  padding: 0.5em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-nav__list {
  display: flex;
  gap: 2em;
  align-items: center;
}

.l-vertical-slider {
  display: flex;
  align-items: center;
  gap: 2em;
  z-index: 2;
}
.l-vertical-slider__column {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.l-section {
  position: relative;
  height: 100vh;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.l-section--p4 {
  padding: 0 4em;
}
.l-section--pl4 {
  padding-left: 4em;
}
.l-section--pr4 {
  padding-right: 4em;
}
.l-section__scroll-bg {
  position: absolute;
  right: -1px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.l-label {
  width: 60em;
}
.l-label--left {
  align-items: flex-start;
}
.l-label--40 {
  width: 40em;
}

.l-icons {
  height: 70%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
.l-icons__line {
  position: absolute;
  width: 90%;
}
.l-icons__item {
  position: relative;
  cursor: pointer;
  z-index: 0;
}
.l-icons__item:hover {
  z-index: 1;
}
.l-icons__item:hover .l-icons__item__description {
  opacity: 1;
}
.l-icons__item__description {
  position: absolute;
  width: 20em;
  min-height: 8em;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2196f3;
  bottom: -4em;
  right: 0;
  transform: translateX(50%);
  padding: 1em 1.2em;
  box-shadow: 1px 1px 20px #2196f3;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.l-icons__item__description p {
  font-size: 1.1em;
  font-weight: 600;
}
.l-icons > :nth-child(1) {
  bottom: 15%;
}
.l-icons > :nth-child(2) {
  top: 35%;
}
.l-icons > :nth-child(3) {
  top: 0;
}
.l-icons > :nth-child(4) {
  top: 25%;
}
.l-icons > :nth-child(5) {
  bottom: 25%;
}
.l-icons > :nth-child(6) {
  top: 10%;
}

.l-vertical-labels {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #063254;
  font-style: italic;
  transform: rotate(180deg);
  position: relative;
  text-orientation: mixed;
  writing-mode: vertical-rl; /* "rl" significa de derecha a izquierda, "lr" sería de izquierda a derecha */
}
.l-vertical-labels--white {
  color: white;
}

.l-customers {
  display: flex;
  align-items: center;
  gap: 3em;
  position: relative;
}
.l-customers > :nth-child(2), .l-customers > :nth-child(4) {
  top: 10vh;
}
.l-customers__column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.l-customers__column figure {
  margin: 0;
}

.l-slider-customers {
  display: flex;
  height: 100vh;
  align-items: end;
}

.l-footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.l-footer__title {
  font-weight: 400;
  font-style: italic;
}
.l-footer__icons {
  display: flex;
  gap: 2em;
}

.p-6 {
  padding: 0 6em;
}

.pl-4 {
  padding-left: 4em;
}

.pr-6 {
  padding-right: 6em;
}

.pr-10 {
  padding-right: 10em;
}

.pl-10 {
  padding-left: 10em;
}

.pl-20 {
  padding-left: 20em;
}

.m-icon-social {
  width: 4em;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}
.m-icon-social:hover {
  box-shadow: 1px 1px 20px rgb(220, 220, 220);
}

.m-content-black {
  padding: 0 6em;
  display: flex;
  align-items: center;
  gap: 6em;
}

.m-content-white {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.m-content-white--ml5 {
  margin-left: 5%;
}
.m-content-white__content {
  position: relative;
  background-color: #fff;
  display: flex;
  gap: 6em;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.m-content-white__content--rotate {
  height: 300%;
  transform: rotate(-26deg);
  border-left: 6px solid #27c1c1;
  outline: 25px solid #fff;
  z-index: 0;
}
.m-content-white__content--rotate > h1 {
  transform: rotate(26deg);
  width: 42vw;
  text-align: right;
}
.m-content-white__content--icons {
  height: 100%;
  padding: 0 6em;
}
.m-content-white__content--icons::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 15em;
  z-index: -2;
  background-color: #ffffff;
  left: -14em;
}

.m-video {
  width: 60em;
  border: 10px solid white;
  outline: 5px solid rgb(193, 51, 0);
  z-index: 100;
}

.m-logo {
  position: relative;
  height: 4rem;
  width: 10em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease;
  opacity: 1;
}
.m-logo > img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.m-logo-AA {
  width: 20em;
  height: auto;
}

.m-list-item {
  font-weight: bold;
}

.m-subtitle {
  font-style: italic;
  font-size: 2.1em;
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 1px 3px rgb(220, 220, 220);
}
.m-subtitle--s {
  font-size: 1.5em;
  font-weight: 300;
}

.m-title {
  font-style: italic;
  font-size: 4.9em;
  font-weight: 900;
  line-height: 1.1;
  color: #fff;
  text-shadow: 1px 1px 3px rgb(220, 220, 220);
}
.m-title--m {
  font-size: 4rem;
}
.m-title--blue {
  color: #063254;
  text-shadow: 1px 1px 3px rgb(220, 220, 220);
}
.m-title--right {
  text-align: right;
}
.m-title__span--purple {
  color: #4c007d;
  text-shadow: 1px 1px 3px rgb(220, 220, 220);
}
.m-title__span--green {
  color: #64c27b;
  text-shadow: 1px 1px 3px rgb(161, 221, 128);
}
.m-title__span--orange {
  color: #dc651b;
  text-shadow: 1px 1px 3px rgb(221, 162, 128);
}
.m-title__span--yellow {
  color: #ffff56;
  text-shadow: 1px 1px 3px #f7e05b;
}
.m-title__span--blue {
  color: #2196f3;
  text-shadow: 1px 1px 3px #7cbcf1;
}

.m-img-full {
  position: relative;
  border-bottom: 1px solid white;
  width: 35%;
}

.m-btn {
  border: none;
  padding: 0.6em 2em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}
.m-btn--green {
  background-color: #27c1c1;
  color: white !important;
}
.m-btn--green:hover {
  background-color: #1ddbdb;
  box-shadow: 1px 1px 20px #1ddbdb;
}
.m-btn--transparent {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
}
.m-btn--transparent:hover {
  border: 1px solid white;
  box-shadow: 1px 1px 14px white;
  border-radius: 7px;
  color: rgb(243, 243, 243);
}
.m-btn--blue {
  background-color: transparent;
  color: #030011;
  border: 1px solid transparent;
}
.m-btn--blue:hover {
  border: 1px solid rgb(186, 187, 203);
  box-shadow: 1px 1px 10px rgb(178, 175, 233);
  border-radius: 7px;
  color: #08002b;
}

.m-scroll-image {
  height: 65vh;
  width: 24em;
  -o-object-fit: cover;
     object-fit: cover;
  border: 6px solid white;
  outline: 4px solid;
}
.m-scroll-image--blue {
  outline-color: #2196f3;
}
.m-scroll-image--green {
  outline-color: #5ccb5f;
}
.m-scroll-image--mag {
  outline-color: #e5097f;
}
.m-scroll-image--yellow {
  outline-color: #ffff00;
}
.m-scroll-image--purple {
  outline-color: #7f00b2;
}

.m-card-service {
  position: relative;
  height: 100%;
  border: 3px solid #f2f2f2;
  padding: 5em 1em 2.5em 1em;
  width: 16em;
  background-color: #fff;
  box-shadow: 1px 1px 12px rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.m-card-service__icon {
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translate(-50%);
}
.m-card-service--blue {
  border-color: #2196f3;
}
.m-card-service--yellow {
  border-color: #ffff00;
}
.m-card-service--magenta {
  border-color: #e5097f;
}
.m-card-service--purple {
  border-color: #7f00b2;
}
.m-card-service--orange {
  border-color: #f7a40c;
}
.m-card-service__content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.m-card-service__content__title {
  color: #5e5e5e;
  text-align: center;
}
.m-card-service__content__p {
  color: #242424;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.05em;
}

.m-icon-benefits {
  position: relative;
  margin: 0;
  height: 14em;
  width: 16em;
  padding: 2.2em;
  background-color: transparent;
  z-index: 1;
  overflow: visible;
  -webkit-clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
          clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
}
.m-icon-benefits--1 {
  background-color: #6A87CA;
}
.m-icon-benefits--2 {
  background-color: #71AC3F;
}
.m-icon-benefits--3 {
  background-color: #6A0082;
}
.m-icon-benefits--4 {
  background-color: #CD6E19;
}
.m-icon-benefits--5 {
  background-color: #A9004D;
}
.m-icon-benefits--6 {
  background-color: #E7A922;
}
.m-icon-benefits::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 3px;
  background-color: white;
  clip-path: inherit;
  -webkit-clip-path: inherit;
}
.m-icon-benefits__icon {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.m-divwhite {
  position: relative;
  height: 100vh;
  width: 400px;
  position: absolute;
  left: -399px;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 96% 30%, 45% 0);
          clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 96% 30%, 45% 0);
  background-color: white;
}
.m-divwhite::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  right: -14px;
  background-color: white;
  -webkit-clip-path: inherit;
          clip-path: inherit;
  z-index: -1;
}
.m-divwhite::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  right: -10px;
  background-color: #5ccb5f;
  -webkit-clip-path: inherit;
          clip-path: inherit;
  z-index: -2;
}

.icon {
  width: 10em;
  height: 10em;
  background-color: #2196f3;
}
.icon::before {
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: #063254;
}

.m-vtitle {
  font-size: 2em;
  font-weight: 400;
  white-space: nowrap;
}

.m-image-section {
  width: 26em;
  height: auto;
}

.m-img-big {
  position: relative;
  height: 100vh;
  width: 20em;
  margin: 0;
}
.m-img-big__img {
  position: absolute;
  height: 85%;
  bottom: 0;
}

.m-cellphone {
  height: auto;
  width: 13em;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-cellphone-slider {
  margin: 0;
  width: 26em;
  position: relative;
  top: 15em;
}
.m-cellphone-slider__bg {
  width: 100%;
}

.m-slider-description {
  position: relative;
  top: -10em;
  left: -2em;
  z-index: -1;
  height: 20em;
  width: 26em;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
  background-color: white;
  padding: 2em 5em 2em 3em;
  display: flex;
  align-items: center;
}
.m-slider-description p {
  color: white;
  z-index: 1;
  font-size: 1.2em;
}
.m-slider-description::after {
  content: "";
  background-color: rgba(94, 94, 94, 0.6980392157);
  position: absolute;
  width: 100%;
  height: 98%;
  left: -3px;
  top: 3px;
  z-index: -1;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
}

.m-line {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-line__img {
  position: relative;
  width: 64%;
  top: 2%;
}
.m-line__over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.line {
  padding-right: 10px;
  overflow-y: hidden;
}

.char {
  transform: translateY(3em);
  transition: transform 0.5s;
}

.galaxy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.galaxy .star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: transform 0.1s ease-out;
  animation: animStar 150s linear infinte;
}
.galaxy .nebula {
  position: absolute;
  max-width: 500px;
  bottom: 0;
}
.galaxy .nebula:nth-child(1) {
  left: 0;
  bottom: 0;
  opacity: 0.2;
}
.galaxy .nebula:nth-child(2) {
  left: 30%;
  top: 20%;
  opacity: 0.1;
}
.galaxy .nebula:nth-child(3) {
  right: 0;
  top: 30%;
  opacity: 0.3;
}

.cometa {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699BFF);
  animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}
@keyframes tail {
  0% {
    width: 0px;
    transform: rotate(45deg);
  }
  30% {
    width: 100px;
    transform: rotate(45deg);
  }
  100% {
    width: 0px;
    transform: rotate(45deg);
  }
}
@keyframes falling {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(300px, 300px) rotate(45deg);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Fondo del preloader */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que esté encima de todo el contenido */
}

#preloader-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#preloader-logo {
  /* Estilos para tu logo, si lo tienes */
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
#preloader-logo img {
  height: 16em;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#content {
  opacity: 0; /* El contenido estará oculto hasta que el preloader se desvanezca */
}/*# sourceMappingURL=style.css.map */