@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$color-title-1: #fff;
$color-subtitle-1: #fff;
$color-title-blue: #063254;
$turquesa: #27c1c1;
$btn-color-green: #27c1c1;
$btn-color-green-hover: #1ddbdb;
//$btn-color-green-hover: #166c6c;
$span-color-purple: #4c007d;
$span-color-green: #64c27b;
$font-size-btns: 1em;

//colors
$blue: #2196f3;
$green: #5ccb5f;
$magenta: #e5097f;
$yellow:#ffff00;
$purple: #7f00b2;
$orange: #f7a40c;


*{
    box-sizing: border-box;
}
/* Reset básico para el navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family:'Ubuntu','IBM Plex Sans', Arial, sans-serif; /* Fuente predeterminada */
}

#background-page{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/* Estilo básico para el cuerpo de la página */
body {
    background:#030011;
	overflow-x:hidden;
    color: #f2f2f2; /* Color de texto */
}

/* Contenedor principal */
.container {
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centrar el contenedor */
    overflow: hidden; /* Controlar el desbordamiento */
}


/* Estilo para los párrafos */
p {
    margin-bottom: 15px;
}

/* Estilos básicos para la lista */
ul {
    list-style: none; /* Eliminar viñetas */
    padding: 0;
}

/* Estilo básico para los elementos de la lista */
li {
    margin-bottom: 5px;
}

/* Estilo para enlaces */
a {
    color: #ffffff; /* Color de enlace predeterminado */
    text-decoration: none; /* Eliminar subrayado */
}


//Layouts

.l-flex-column{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &--gap-2{
        gap: 3em;
    }
    &--gap-3{
        gap: 3em;
    }
    &--gap-4{
        gap: 3em;
    }
}

.l-flex-row{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0;
    
    &--right{
        justify-content: flex-end;
    }
    &--left{
        justify-content: flex-start;
    }

    &--g3{
        gap: 3em;
    }

    &--services{
        height: 55vh;
    }

    &--vw60{
        width: 60vw;
        h1{
            width: 100%;
        }
    }
}

.l-vw-55{
    width: 55vw;
}

.l-header{
    width: fit-content;
}

.l-slider{
    position: relative;
    display: flex;
    width: fit-content;
}

.l-header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.l-nav{
    background-color: #0000004a;
    position: relative;
    width: 100%;
    padding: 0.5em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list{
        display: flex;
        gap: 2em;
        align-items: center;
    }
}

.l-vertical-slider{
    display: flex;
    align-items: center;
    gap: 2em;
    &__column{
        display: flex;
        gap: 2em;
        flex-direction: column;
    }
}



.l-section{
    position: relative;
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: center;
    
    &--p4{
        padding: 0 4em;
    }

    &--pl4{
        padding-left: 4em;
    }

    &__scroll-bg{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

//Modules

.pl-10{
    padding-left: 10em;
}

.m-content-white{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 80vw;
    z-index: -1;
    &--ml5{
        margin-left: 5%;
    }

    &__content{
        position: relative;
        background-color: #fff;
        display: flex;
        align-items: center;

        &--rotate{
            height: 300%;
            transform: rotate(-26deg);
            border-left: 6px solid $turquesa;
            outline: 25px solid #fff;
            z-index: 0;
            &>h1{
                transform: rotate(26deg);
                width: 42vw;
                text-align: right;
            }
        }

        &--icons{
            width: 100vw;
            height: 100%;
            
            &::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 15%;
                z-index: -2;
                background-color: #ffffff;
                left: -14%;
            }
        }
    }
}

.m-logo{
    position: relative;
    height: 4rem;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease;
    opacity: 1;
    &>img{
        height: 100%;
        object-fit: contain;
    }
}

.m-list-item{
    font-weight: bold;
}


.m-subtitle{
    font-style: italic;
    font-size: 2.1em;
    font-weight: 800;
    color: $color-subtitle-1;
    text-shadow: 1px 1px 3px rgba(220,220,220,1);
}

.m-title{
    font-style: italic;
    font-size: 4.9em;
    font-weight: 900;
    line-height: 1.1;
    color: $color-title-1;
    text-shadow: 1px 1px 3px rgba(220,220,220,1);
    &--m{
        font-size: 4rem;
    }
    &--blue{
        color: $color-title-blue;
        text-shadow: 1px 1px 3px rgb(220, 220, 220);
    }

    &--right{
        text-align: right;
    }

    &__span{
        &--purple{
            color: $span-color-purple;
            text-shadow: 1px 1px 3px rgb(220, 220, 220)
        }
        &--green{
            color: $span-color-green;
            text-shadow: 1px 1px 3px rgb(161, 221, 128);
        }
    }
}

.m-img-full{
    position: relative;
    border-bottom: 1px solid white;
    width: 34%;
}

.m-btn{  
    border: none;
    padding: .6em 2em;
    font-weight: bold;
    font-size: $font-size-btns;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color .3s ease,border-color .3s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
    &--green{
        background-color: $btn-color-green;
        color: white !important;
        &:hover{
            background-color: $btn-color-green-hover;
            box-shadow: 1px 1px 20px $btn-color-green-hover;
        }
    }

    &--transparent{
        background-color: transparent;
        border: 1px solid transparent;
        color: white;
        &:hover{
            border: 1px solid white;
            box-shadow: 1px 1px 14px white;
            border-radius: 7px;
            color: rgb(243, 243, 243);
        }
    }
}

.m-scroll-image{
    height: 65vh;
    width: 24em;
    object-fit: cover;
    border: 6px solid white;
    outline: 4px solid;
    &--blue{
        outline-color: $blue;
    }
    &--green{
        outline-color: $green;
    }
    &--mag{ 
        outline-color: $magenta;
    }
    &--yellow{ 
        outline-color: $yellow;
    }
    &--purple{ 
        outline-color: $purple;
    }
}

.m-card-service{
    position: relative;
    height: 100%;
    border: 3px solid #f2f2f2;
    padding: 5em 1em 2.5em 1em;
    width: 16em;
    background-color: #fff;
    box-shadow: 1px 1px 12px rgba(220,220,220,1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--blue{
        border-color: $blue;
    }

    &--yellow{
        border-color: $yellow;
    }

    &--magenta{
        border-color: $magenta;
    }

    &--purple{
        border-color: $purple;
    }

    &--orange{
        border-color: $orange;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 2em ;
        &__title{
            color: #5e5e5e;
            text-align: center;
        }
        &__p{
            color: #242424;
            text-align: justify;
            line-height: 1.5;
            font-size: 1.05em;
        }
    }
}

.m-vertical-labels{
    border: 1px solid black;
    display: flex;
    gap: 1em;
    color: $color-title-blue;
    font-style: italic;
    transform: rotate(-90deg);
    position: relative;
    left: -10em;
    &__title{
        font-weight: 400;
    }
}


.line{
    overflow-y: hidden;
}

.char {
    transform: translateY(3em);
    transition: transform .5s ;
} 


///Galaxy
/// 
.galaxy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  
    .star {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      transition: transform 0.1s ease-out;
      animation: animStar 150s linear infinte;
    }
  
    .nebula {
      position: absolute;
      max-width: 500px;
      bottom: 0;
  
      &:nth-child(1) {
        left: 0;
        bottom: 0;
        opacity: 0.2;
      }
  
      &:nth-child(2) {
        left: 30%;
        top: 20%;
        opacity: 0.1;
      }
  
      &:nth-child(3) {
        right: 0;
        top: 30%;
        opacity: 0.3;
      }
    }
  }
  
  .cometa {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
  
    @keyframes tail {
      0% {
        width: 0px;
        transform: rotate(45deg);
      }
  
      30% {
        width: 100px;
        transform: rotate(45deg);
      }
  
      100% {
        width: 0px;
        transform: rotate(45deg);
      }
    }
  
    @keyframes falling {
      0% {
        transform: translate(0, 0) rotate(45deg);
      }
  
      100% {
        transform: translate(300px, 300px) rotate(45deg);
      }
    }
  }



// Styles for preloader

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fondo del preloader */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que esté encima de todo el contenido */
}

#preloader-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

#preloader-logo {
    /* Estilos para tu logo, si lo tienes */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    img{
        height: 9em;
        width: auto;
        object-fit: contain;
    }
}

#content {
    opacity: 0; /* El contenido estará oculto hasta que el preloader se desvanezca */
}
