@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$color-title-1: #fff;
$color-subtitle-1: #fff;
$color-title-blue: #063254;
$turquesa: #27c1c1;
$btn-color-green: #27c1c1;
$btn-color-green-hover: #1ddbdb;
//$btn-color-green-hover: #166c6c;
$span-color-purple: #4c007d;
$span-color-green: #64c27b;
$span-color-orange: #dc651b;
$span-color-yellow: #ffff56;
$font-size-btns: 1em;

//colors
$blue: #2196f3;
$green: #5ccb5f;
$magenta: #e5097f;
$yellow:#ffff00;
$purple: #7f00b2;
$orange: #f7a40c;

*{
    box-sizing: border-box;
}
/* Reset básico para el navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family:'Ubuntu','IBM Plex Sans', Arial, sans-serif; /* Fuente predeterminada */
}

#background-page{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/* Estilo básico para el cuerpo de la página */
body {
    background:#030011;
	overflow-x:hidden;
    color: #f2f2f2; /* Color de texto */
}

/* Contenedor principal */
.container {
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centrar el contenedor */
    overflow: hidden; /* Controlar el desbordamiento */
}


/* Estilo para los párrafos */
p {
    margin-bottom: 15px;
}

/* Estilos básicos para la lista */
ul {
    list-style: none; /* Eliminar viñetas */
    padding: 0;
}

/* Estilo básico para los elementos de la lista */
li {
    margin-bottom: 5px;
}

/* Estilo para enlaces */
a {
    color: #ffffff; /* Color de enlace predeterminado */
    text-decoration: none; /* Eliminar subrayado */
}


//Layouts


.l-flex-column{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &--gap-2{
        gap: 3em;
    }
    &--gap-3{
        gap: 3em;
    }
    &--gap-4{
        gap: 3em;
    }
}

.l-flex-row{
    width: fit-content;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0;
    
    &--right{
        justify-content: flex-end;
    }
    &--left{
        justify-content: flex-start;
    }

    &--g3{
        gap: 3em;
    }

    &--services{
        height: 55vh;
    }

    &--vw60{
        width: 80vw;
        h1{
            width: fit-content;
            max-width: 100%;
        }
    }
}

.l-vw-55{
    width: 55vw;
}

.l-header{
    width: fit-content;
}

.l-slider{
    position: relative;
    display: flex;
    width: fit-content;
}

.l-header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.l-nav{
    background-color: #0000004a;
    position: relative;
    width: 100%;
    padding: 0.5em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list{
        display: flex;
        gap: 2em;
        align-items: center;
    }
}

.l-vertical-slider{
    display: flex;
    align-items: center;
    gap: 2em;
    z-index: 2;
    &__column{
        display: flex;
        gap: 2em;
        flex-direction: column;
    }
}



.l-section{
    position: relative;
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: center;
    
    &--p4{
        padding: 0 4em;
    }

    &--pl4{
        padding-left: 4em;
    }
    &--pr4{
        padding-right: 4em;
    }

    &__scroll-bg{
        position: absolute;
        right: -1px;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

.l-label{
    width: 60em;

    &--left{
        align-items: flex-start;
    }
    &--40{
        width: 40em;
    }
}

.l-icons{
    height: 70%;
    width: fit-content;
    display: flex;
    align-items: center;
    //border: 1px solid red;
    position: relative;

    &__line{
        position: absolute;
        width: 90%;
    }

    &__item{
        position: relative;
        cursor: pointer;
        z-index: 0;
        &:hover{
            z-index: 1;
            .l-icons__item__description{
                opacity: 1;
            }
        }

        &__description{
            position: absolute;
            width: 20em;
            min-height: 8em;
            height: fit-content;
            background-color: #2196f3;
            bottom: -4em;
            right: 0;
            transform: translateX(50%);
            padding: 1em 1.2em;
            box-shadow: 1px 1px 20px $blue;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1;
            p{
                font-size: 1.1em;
                font-weight: 600;
            }
        }
    }

    & > :nth-child(1){
        bottom: 15%;
    }

    & > :nth-child(2){
        top: 35%;
    }
    & > :nth-child(3){
        top: 0;
    }

    & > :nth-child(4){
        top: 25%;
    }

    & > :nth-child(5){
        bottom: 25%;
    }
    & > :nth-child(6){
        top: 10%;
    }
}

.l-vertical-labels{
    //border: 1px solid black;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1em;
    color: $color-title-blue;
    font-style: italic;
    transform: rotate(180deg);
    position: relative;
    text-orientation: mixed;
    
    writing-mode: vertical-rl; /* "rl" significa de derecha a izquierda, "lr" sería de izquierda a derecha */

    &--white{
        color: white;
    }

    
}

.l-customers{
    display: flex;
    align-items: center;
    gap: 3em;
    //border: 1px solid white;
    position: relative;

    & > :nth-child(2),  & > :nth-child(4){
        top: 10vh;
    }

    &__column{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3em;
        figure{
            margin: 0;
        }
    }
}

.l-slider-customers{
    display: flex;
    height: 100vh;
    align-items: end;
}

.l-footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    &__title{
        font-weight: 400;
        font-style: italic;
    }

    &__icons{
        display: flex;
        gap: 2em;
    }
}

//Modules

.p-6{
    padding: 0 6em;
}

.pl-4{
    padding-left: 4em;
}

.pr-6{
    padding-right: 6em;
}
.pr-10{
    padding-right: 10em;
}
.pl-10{
    padding-left: 10em;
}
.pl-20{
    padding-left: 20em;
}

.m-icon-social{
    width: 4em;
    height: auto;
    //border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 20px rgba(220,220,220,1);
    }
}

.m-content-black{
    padding: 0 6em;
    display: flex;
    align-items: center;
    gap: 6em;
}

.m-content-white{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    
    &--ml5{
        margin-left: 5%;
    }

    &__content{
        position: relative;
        background-color: #fff;
        display: flex;
        gap: 6em;
        align-items: center;
        width: fit-content;
        
        &--rotate{
            height: 300%;
            transform: rotate(-26deg);
            border-left: 6px solid $turquesa;
            outline: 25px solid #fff;
            z-index: 0;
            &>h1{
                transform: rotate(26deg);
                width: 42vw;
                text-align: right;
            }
        }

        &--icons{
            height: 100%;
            padding: 0 6em;
            &::before{
                content: "";
                position: absolute;
                height: 110%;
                width: 15em;
                z-index: -2;
                background-color: #ffffff;
                left: -14em;
            }
        }
    }
}

.m-video{
    width: 60em;
    border: 10px solid white;
    outline: 5px solid rgb(193, 51, 0);
    z-index: 100;
}

.m-logo{
    position: relative;
    height: 4rem;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease;
    opacity: 1;
    &>img{
        height: 100%;
        object-fit: contain;
    }
}

.m-logo-AA{
    width: 20em;
    height: auto;
    //border: 1px solid red;
}

.m-list-item{
    font-weight: bold;
}


.m-subtitle{
    font-style: italic;
    font-size: 2.1em;
    font-weight: 800;
    color: $color-subtitle-1;
    text-shadow: 1px 1px 3px rgba(220,220,220,1);

    &--s{
        font-size: 1.5em;
        font-weight: 300;
    }
    
}

.m-title{
    font-style: italic;
    font-size: 4.9em;
    font-weight: 900;
    line-height: 1.1;
    color: $color-title-1;
    text-shadow: 1px 1px 3px rgba(220,220,220,1);
    &--m{
        font-size: 4rem;
    }
    &--blue{
        color: $color-title-blue;
        text-shadow: 1px 1px 3px rgb(220, 220, 220);
    }

    &--right{
        text-align: right;
    }

    &__span{
        &--purple{
            color: $span-color-purple;
            text-shadow: 1px 1px 3px rgb(220, 220, 220)
        }
        &--green{
            color: $span-color-green;
            text-shadow: 1px 1px 3px rgb(161, 221, 128);
        }
        &--orange{
            color: $span-color-orange;
            text-shadow: 1px 1px 3px rgb(221, 162, 128);
        }
        &--yellow{
            color: $span-color-yellow;
            text-shadow: 1px 1px 3px #f7e05b;
        }
        &--blue{
            color: $blue;
            text-shadow: 1px 1px 3px #7cbcf1;
        }
    }
}

.m-img-full{
    position: relative;
    border-bottom: 1px solid white;
    width: 35%;
}

.m-btn{  
    border: none;
    padding: .6em 2em;
    font-weight: bold;
    font-size: $font-size-btns;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color .3s ease,border-color .3s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
    &--green{
        background-color: $btn-color-green;
        color: white !important;
        &:hover{
            background-color: $btn-color-green-hover;
            box-shadow: 1px 1px 20px $btn-color-green-hover;
        }
    }

    &--transparent{
        background-color: transparent;
        border: 1px solid transparent;
        color: white;

        &:hover{
            border: 1px solid white;
            box-shadow: 1px 1px 14px white;
            border-radius: 7px;
            color: rgb(243, 243, 243);
        }
    }

    &--blue{
        background-color: transparent;
        color: #030011;
        border: 1px solid transparent;
        &:hover{
            border: 1px solid rgb(186, 187, 203);
            box-shadow: 1px 1px 10px rgb(178, 175, 233);
            border-radius: 7px;
            color: #08002b;
        }
    }
}

.m-scroll-image{
    height: 65vh;
    width: 24em;
    object-fit: cover;
    border: 6px solid white;
    outline: 4px solid;
    &--blue{
        outline-color: $blue;
    }
    &--green{
        outline-color: $green;
    }
    &--mag{ 
        outline-color: $magenta;
    }
    &--yellow{ 
        outline-color: $yellow;
    }
    &--purple{ 
        outline-color: $purple;
    }
}

.m-card-service{
    position: relative;
    height: 100%;
    border: 3px solid #f2f2f2;
    padding: 5em 1em 2.5em 1em;
    width: 16em;
    background-color: #fff;
    box-shadow: 1px 1px 12px rgba(220,220,220,1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__icon{
        //border: 1px solid red;
        position: absolute;
        top: -4em;
        left: 50%;
        transform: translate(-50%);
    }

    &--blue{
        border-color: $blue;
    }

    &--yellow{
        border-color: $yellow;
    }

    &--magenta{
        border-color: $magenta;
    }

    &--purple{
        border-color: $purple;
    }

    &--orange{
        border-color: $orange;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 2em ;
        &__title{
            color: #5e5e5e;
            text-align: center;
        }
        &__p{
            color: #242424;
            text-align: justify;
            line-height: 1.5;
            font-size: 1.05em;
        }
    }
}

.m-icon-benefits{
    position: relative;
    margin: 0;
    height: 14em;
    width: 16em;
    padding: 2.2em;
    background-color: transparent;
    z-index: 1;
    overflow: visible;
    clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);
    //-webkit-clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%); /* Para navegadores basados en WebKit (como Chrome y Safari) */

    &--1{
        background-color: #6A87CA;
    }
    &--2{
        background-color: #71AC3F;
    }
    &--3{
        background-color: #6A0082;
    }
    &--4{
        background-color: #CD6E19;
    }
    &--5{
        background-color: #A9004D;
    }
    &--6{
        background-color: #E7A922;
    }

    &::before{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 3px;
        background-color: white;
        clip-path: inherit;
        -webkit-clip-path: inherit;
    }

    &__icon{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

}

.m-divwhite{
    position: relative;
    height: 100vh;
    width: 400px;
    position: absolute;
    left: -399px;
    z-index: -1;
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 96% 30%, 45% 0);
    background-color: white;
    &::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        right: -14px;
        background-color: white;
        clip-path: inherit;
        z-index: -1;
    }

    &::before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        right: -10px;
        background-color: $green;
        clip-path: inherit;
        z-index: -2;
    }
    
}

.icon{
    width: 10em;
    height: 10em;
    background-color: #2196f3;
    &::before{
        content: "";
        position: absolute;
        width: 10em;
        height: 10em;
        background-color: #063254;
    }
}


.m-vtitle{
    font-size: 2em;
    font-weight: 400;
    white-space: nowrap;
}

.m-image-section{
    width: 26em;
    height: auto;
}

.m-img-big{
    position: relative;
    height: 100vh;
    width: 20em;
    //border: 1px solid red;
    margin: 0;
    &__img{
        position: absolute;
        height: 85%;
        bottom: 0;
    }
}

.m-cellphone{
    height: auto;
    width: 13em;
    object-fit: cover;
}

.m-cellphone-slider{
    margin: 0;
    width: 26em;
    position: relative;
    top: 15em;
    &__bg{
        width: 100%;
    }
}

.m-slider-description{
    position: relative;
    top: -10em;
    left: -2em;
    z-index: -1;
    height: 20em;
    width: 26em;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    background-color: white;
    padding:2em 5em 2em 3em;

    display: flex;
    align-items: center;
    p{
        color: white;
        z-index: 1;
        font-size: 1.2em;
    }

    &::after{
        content: "";
        background-color: #5e5e5eb2;
        position: absolute;
        width: 100%;
        height: 98%;
        left: -3px;
        top: 3px;
        z-index: -1;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    }
}

.m-line{
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 1px solid red;

    &__img{
        position: relative;
        //border: 1px solid green;
        width: 64%;
        top: 2%;
    }

    &__over{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        //clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.line{
    padding-right: 10px;
    overflow-y: hidden;
}

.char {
    transform: translateY(3em);
    transition: transform .5s ;
} 


///Galaxy
/// 
.galaxy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  
    .star {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      transition: transform 0.1s ease-out;
      animation: animStar 150s linear infinte;
    }
  
    .nebula {
      position: absolute;
      max-width: 500px;
      bottom: 0;
  
      &:nth-child(1) {
        left: 0;
        bottom: 0;
        opacity: 0.2;
      }
  
      &:nth-child(2) {
        left: 30%;
        top: 20%;
        opacity: 0.1;
      }
  
      &:nth-child(3) {
        right: 0;
        top: 30%;
        opacity: 0.3;
      }
    }
  }
  
  .cometa {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
  
    @keyframes tail {
      0% {
        width: 0px;
        transform: rotate(45deg);
      }
  
      30% {
        width: 100px;
        transform: rotate(45deg);
      }
  
      100% {
        width: 0px;
        transform: rotate(45deg);
      }
    }
  
    @keyframes falling {
      0% {
        transform: translate(0, 0) rotate(45deg);
      }
  
      100% {
        transform: translate(300px, 300px) rotate(45deg);
      }
    }
  }



// Styles for preloader

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fondo del preloader */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que esté encima de todo el contenido */
}

#preloader-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#preloader-logo {
    /* Estilos para tu logo, si lo tienes */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    img{
        height: 16em;
        width: auto;
        object-fit: contain;
    }
}

#content {
    opacity: 0; /* El contenido estará oculto hasta que el preloader se desvanezca */
}
